<!DOCTYPE html>
<html lang="en">
    <head>
        {% if getPage(app.request.get('_route')) %}
            {% set page = getPage(app.request.get('_route')) %}
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.metaTitle is defined %}{{page.metaTitle}}{% endif %}</title>      
        {% block meta_description %}
            {% if page.metaDescription is defined %}
                <meta name="description" content="{{page.metaDescription}}">
            {% endif %}
        {% endblock %}
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.min.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ render(controller('App\\Controller\\DefaultController::header')) }}
        {% endblock %}
        {% block pageTitle %}
            {% if page.title is defined %}
                <div class="h1 layout-container">
                    <h1>{{page.title}}</h1>
                </div>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        	<script src="{{ asset('build/js/scripts.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
