<!DOCTYPE html>
<html lang="en">
    <head>
        {% block google_analytics %}
            {% if ga_tracking %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id={{ga_tracking}}"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', '{{ga_tracking}}');
                </script>
            {% endif %}
        {% endblock %}

        {% block google_tag_manager_header %}
            {% if gtm_tracking %}
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{gtm_tracking}}');</script>
                <!-- End Google Tag Manager -->
            {% endif %}
        {% endblock %}

        {% if getPage(app.request.get('_route')) %}
            {% set page = getPage(app.request.get('_route')) %}
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.metaTitle is defined %}{{page.metaTitle}}{% endif %}</title>      
        {% block meta_description %}
            {% if page.metaDescription is defined %}
                <meta name="description" content="{{page.metaDescription}}">
            {% endif %}
        {% endblock %}
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.min.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block google_tag_manager_body %}
            {% if ga_tracking %}
                <!-- Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtm_tracking}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->
            {% endif %}
        {% endblock %}
        {% block header %}
            {{ render(controller('App\\Controller\\DefaultController::header')) }}
        {% endblock %}
        {% block breadcrumbs %}
            {% if breadcrumbs is defined %}
                {% include 'partial/breadcrumbs.html.twig' %}
            {% endif %}
        {% endblock %}
        {% block pageTitle %}
            {% if page.title is defined %}
                <div class="h1 layout-container">
                    <h1>{{page.title}}</h1>
                </div>
            {% endif %}
        {% endblock %}

        {% block pageContent %}
            {% if page.content is defined %}
                <div class="layout-container">
                    {{page.content|raw}}
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        	<script src="{{ asset('build/js/scripts.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
